<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comc.example.mohammedmorse.popularmoviesapp">
    <permission android:name="android.permission.READ_Data_From_MY_Provider"></permission>
        <permission android:name="android.permission.Write_Data_To_MY_Provider"/>
    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/moviesapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SettingActivity"
            android:parentActivityName=".MainActivity"
            ></activity>
        <provider
            android:authorities="comc.example.mohammedmorse.popularmoviesapp"
            android:name=".ContentProvider.ContentProviderImplementation"
            android:readPermission="android.permission.READ_Data_From_MY_Provider"
            android:writePermission="android.permission.Write_Data_To_MY_Provider"
            android:grantUriPermissions="true"
            android:exported="true"
            ></provider>
    </application>
</manifest>